.features {
  padding: 80px 40px 40px;
  .feature {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    &.reverse {
      flex-direction: row-reverse;
    }
    &.animated {
      h5,
      .title,
      p {
        animation: showTitleAndSubTitle 1s cubic-bezier(0.22, 0.61, 0.36, 1)
          forwards;
        animation-delay: 0.1s;
      }
    }
    .content {
      width: 50%;
      padding: 24px 30px 0;
      h5,
      p,
      .title {
        transform: translateX(60px);
        opacity: 0;
      }
      .title {
        font-size: 36px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 20px;
      }
    }
    img {
      max-width: 50%;
      padding: 0 20px;
    }
  }
}

@keyframes showTitleAndSubTitle {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
// Features
body.en {
  .features .feature .content {
    h5,
    p,
    .title {
      transform: translateX(60px);
    }
  }
}
