// Hero section
.hero {
  padding: 130px 0 100px;
  background-color: #4f008c;
  .content {
    padding: 40px;
    color: #fff;
    h1 {
      font-size: 42px;
      font-weight: 500;
      margin-bottom: 30px;
      line-height: 60px;
    }
    p {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 70%;
    }
  }
  .phone-img {
    filter: drop-shadow(17px 15px 11px rgba(0, 0, 0, 0.18));
    height: 100%;
  }
}
