@import './fonts';
@import './what-is-maraphone';
@import './FAQs';
@import './responsive';
@import './hero';

// Global styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'STCForward', sans-serif, arial;
}

body {
  background-color: #f7f7fa;
  color: #1d252d;
}
body.ar {
  direction: rtl;
}
body.ar .FAQs ul li .question .arrow-icon {
  transform: rotate(90deg);
}

p {
  line-height: 30px;
}

a {
  text-decoration: none;
  display: inline-block;
}

h5 {
  font-size: 19px;
  font-weight: normal;
  color: #8e9aa0;
  margin-bottom: 8px;
}

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

// main-container
.main-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 40px;
}

// Header
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  direction: ltr;
  .lang-switcher {
    padding: 0 30px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    margin-right: 24px;
    margin-top: -2px;
  }
}

// Features
.features {
  padding: 80px 40px 40px;
  .feature {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    &.reverse {
      flex-direction: row-reverse;
    }
    .content {
      width: 50%;
      padding: 24px 30px 0;
      .title {
        font-size: 36px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 24px;
      }
    }
    img {
      max-width: 50%;
      padding: 0 20px;
    }
  }
}

// stc footer
.stc-footer-component > * {
  max-width: 1200px;
  width: 100%;
  margin: auto !important;
}
