@import './fonts';

// Global styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'STCForward', sans-serif, arial;
}

body {
  background-color: #f7f7fa;
  color: #1d252d;
}
body.ar {
  direction: rtl;
}
body.ar .FAQs ul li .question .arrow-icon {
  transform: rotate(90deg);
}

p {
  line-height: 30px;
}

a {
  text-decoration: none;
  display: inline-block;
}

h5 {
  font-size: 19px;
  font-weight: normal;
  color: #8e9aa0;
  margin-bottom: 8px;
}

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

// main-container
.main-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 40px;
}

// Header
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  direction: ltr;
  .lang-switcher {
    padding: 0 30px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    margin-right: 24px;
    margin-top: -2px;
  }
}

// Hero section
.hero {
  padding: 130px 0 100px;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  .content {
    padding-top: 120px;
    color: #fff;
    h1 {
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 30px;
      line-height: 60px;
    }
    p {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 70%;
    }
  }
  .phone-img {
    filter: drop-shadow(17px 15px 11px rgba(0, 0, 0, 0.18));
    height: 100%;
    animation: movePhoneImg 3.6s ease-out infinite;
  }
  @keyframes movePhoneImg {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

// What is Maraphone?
.what-is-maraphone {
  padding: 60px;
  background-color: #ffffff;
  box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.08);
  margin-top: -110px;
  border-radius: 20px;
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .card {
    width: 48%;
    color: #1d252d;
    img {
      margin-left: 20px;
      margin-bottom: 20px;
    }
    .title {
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    p {
      line-height: 30px;
    }
  }
}

// Features
.features {
  padding: 80px 40px 40px;
  .feature {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    &.reverse {
      flex-direction: row-reverse;
    }
    .content {
      width: 50%;
      padding: 24px 30px 0;
      .title {
        font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        margin-bottom: 24px;
      }
    }
    img {
      max-width: 50%;
      padding: 0 20px;
    }
  }
}

// FAQs
.FAQs {
  text-align: center;
  padding-bottom: 60px;
  h2 {
    font-size: 60px;
    margin-bottom: 60px;
  }
  ul {
    list-style-type: none;
    width: 100%;
    max-width: 700px;
    margin: auto;
    li {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.08);
      margin-bottom: 22px;
      text-align: start;
      position: relative;
      transition: all 0.2s ease-out;
      &.expand {
        .question::after {
          transition: all 0.4s ease-out;
          transform: scaleX(1);
          background-color: #f3efef;
        }
        .answer {
          animation: expanding 1s ease forwards 0ms;
        }
        .arrow-icon {
          transform: rotate(0) !important;
        }
      }
      .question {
        font-weight: 500;
        font-size: 17px;
        position: relative;
        cursor: pointer;
        padding: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
          content: '';
          position: absolute;
          bottom: 10px;
          left: 22px;
          width: calc(100% - 44px);
          height: 2px;
          background-color: #ff375e;
          transform: scaleX(0);
          transform-origin: center;
          transition: all 0.2s ease-out;
        }
        .arrow-icon {
          transform: rotate(-90deg);
          transition: all 0.2s ease-out;
        }
      }
      .answer {
        color: #8e9aa0;
        line-height: 28px;
        height: auto;
        opacity: 0;
        padding: 0 22px;
        transform: translateY(5px);
        max-height: 0;
        transition: max-height 10s ease 0ms;
      }
    }
  }
}

@keyframes expanding {
  100% {
    max-height: 500px;
    padding-bottom: 20px;
    opacity: 1;
    transform: translateY(0);
  }
}

// stc footer
.stc-footer-component > * {
  max-width: 1200px;
  width: 100%;
  margin: auto !important;
}

// Break points > RESPONSIVE
@media screen and (max-width: 1070px) {
  .hero .phone-img {
    width: 340px;
  }
  .main-container {
    padding: 30px;
  }
  .what-is-maraphone {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 980px) {
  .hero {
    padding: 130px 0;
    .phone-img {
      width: 270px;
    }
  }
  .what-is-maraphone {
    margin-top: -150px;
  }
}
// Ipad
@media screen and (max-width: 800px) {
  h5 {
    font-size: 17px;
  }
  .hero {
    padding-top: 70px;
    .main-container {
      flex-direction: column-reverse;
      align-items: center;
    }
    .content {
      padding-top: 20px;
      text-align: center;
      h1 {
        font-size: 36px;
        line-height: 48px;
      }
      p {
        margin: 0 auto 30px;
      }
    }
    .phone-img {
      width: 240px;
    }
  }
  .what-is-maraphone {
    h2 {
      margin-bottom: 0;
      font-size: 24px;
    }
    .flex.justify-between {
      flex-direction: column;
      align-items: center;
      padding-top: 0 !important;
      .card {
        padding-top: 40px;
        width: 100%;
        .title {
          font-size: 19px;
        }
      }
    }
  }
  .features {
    .feature {
      flex-direction: column !important;
      align-items: center;
      .content {
        width: 100%;
        text-align: center;
        .title {
          margin-bottom: 14px;
        }
      }
      img {
        max-width: 70%;
      }
    }
  }
}
// Mobile
@media screen and (max-width: 500px) {
  .main-container {
    padding: 20px;
  }
  .hero {
    .content {
      h1 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
      }
      p {
        max-width: 100%;
        font-size: 17px;
        color: #f3efef;
      }
    }
  }
  .what-is-maraphone {
    margin-top: -110px;
  }
  .features {
    .feature {
      flex-direction: column !important;
      align-items: center;
      .content {
        width: 100%;
        text-align: center;
        padding: 20px 10px 0;
        .title {
          margin-bottom: 14px;
        }
      }
      img {
        max-width: 70%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .download-app-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 48%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      img {
        width: 100%;
      }
    }
  }
}
