/* Thin => 200 */
@font-face {
  font-family: "STCForward";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/STCForward/STCForward-Thin.eot");
  src: url("/assets/fonts/STCForward/STCForward-Thin.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-Thin.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-Thin.svg") format("svg");
}
@font-face {
  font-family: "STCForward";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/STCForward/STCForward-ThinItalic.eot");
  src: url("/assets/fonts/STCForward/STCForward-ThinItalic.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-ThinItalic.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-ThinItalic.svg") format("svg");
}
/* Light => 300 */
@font-face {
  font-family: "STCForward";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/STCForward/STCForward-Light.eot");
  src: url("/assets/fonts/STCForward/STCForward-Light.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-Light.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-Light.svg") format("svg");
}
@font-face {
  font-family: "STCForward";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/STCForward/STCForward-LightItalic.eot");
  src: url("/assets/fonts/STCForward/STCForward-LightItalic.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-LightItalic.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-LightItalic.svg") format("svg");
}
/* Regular => 400 */
@font-face {
  font-family: "STCForward";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/STCForward/STCForward-Regular.eot");
  src: url("/assets/fonts/STCForward/STCForward-Regular.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-Regular.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-Regular.svg") format("svg");
}
@font-face {
  font-family: "STCForward";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/STCForward/STCForward-Italic.eot");
  src: url("/assets/fonts/STCForward/STCForward-Italic.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-Italic.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-Italic.svg") format("svg");
}
/* Medium => 500 */
@font-face {
  font-family: "STCForward";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/STCForward/STCForward-Medium.eot");
  src: url("/assets/fonts/STCForward/STCForward-Medium.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-Medium.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-Medium.svg") format("svg");
}
@font-face {
  font-family: "STCForward";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/STCForward/STCForward-MediumItalic.eot");
  src: url("/assets/fonts/STCForward/STCForward-MediumItalic.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-MediumItalic.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-MediumItalic.svg") format("svg");
}
/* Bold => 600, 700 */
@font-face {
  font-family: "STCForward";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/STCForward/STCForward-Bold.eot");
  src: url("/assets/fonts/STCForward/STCForward-Bold.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-Bold.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-Bold.svg") format("svg");
}
@font-face {
  font-family: "STCForward";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/STCForward/STCForward-BoldItalic.eot");
  src: url("/assets/fonts/STCForward/STCForward-BoldItalic.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-BoldItalic.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-BoldItalic.svg") format("svg");
}
/* Extra Bold => 800 */
@font-face {
  font-family: "STCForward";
  font-weight: 900;
  font-style: normal;
  src: url("/assets/fonts/STCForward/STCForward-ExtraBold.eot");
  src: url("/assets/fonts/STCForward/STCForward-ExtraBold.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-ExtraBold.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-ExtraBold.svg") format("svg");
}
@font-face {
  font-family: "STCForward";
  font-weight: 900;
  font-style: italic;
  src: url("/assets/fonts/STCForward/STCForward-ExtraBoldItalic.eot");
  src: url("/assets/fonts/STCForward/STCForward-ExtraBoldItalic.woff") format("woff"), url("/assets/fonts/STCForward/STCForward-ExtraBoldItalic.ttf") format("truetype"), url("/assets/fonts/STCForward/STCForward-ExtraBoldItalic.svg") format("svg");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: "STCForward", sans-serif, arial;
}

body {
  background-color: #f7f7fa;
  color: #1d252d;
}

body.ar {
  direction: rtl;
}

body.ar .FAQs ul li .question .arrow-icon {
  transform: rotate(90deg);
}

p {
  line-height: 30px;
}

a {
  text-decoration: none;
  display: inline-block;
}

h5 {
  font-size: 19px;
  font-weight: normal;
  color: #8e9aa0;
  margin-bottom: 8px;
}

.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.flex-center {
  align-items: center;
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-between {
  justify-content: space-between;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 40px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  direction: ltr;
}
header .lang-switcher {
  padding: 0 30px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  margin-right: 24px;
  margin-top: -2px;
}

.hero {
  padding: 130px 0 100px;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
.hero .content {
  padding-top: 120px;
  color: #fff;
}
.hero .content h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 60px;
}
.hero .content p {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 70%;
}
.hero .phone-img {
  filter: drop-shadow(17px 15px 11px rgba(0, 0, 0, 0.18));
  height: 100%;
  animation: movePhoneImg 3.6s ease-out infinite;
}
@keyframes movePhoneImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.what-is-maraphone {
  padding: 60px;
  background-color: #ffffff;
  box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.08);
  margin-top: -110px;
  border-radius: 20px;
}
.what-is-maraphone h2 {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 500;
}
.what-is-maraphone .card {
  width: 48%;
  color: #1d252d;
}
.what-is-maraphone .card img {
  margin-left: 20px;
  margin-bottom: 20px;
}
.what-is-maraphone .card .title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 12px;
}
.what-is-maraphone .card p {
  line-height: 30px;
}

.features {
  padding: 80px 40px 40px;
}
.features .feature {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.features .feature.reverse {
  flex-direction: row-reverse;
}
.features .feature .content {
  width: 50%;
  padding: 24px 30px 0;
}
.features .feature .content .title {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 24px;
}
.features .feature img {
  max-width: 50%;
  padding: 0 20px;
}

.FAQs {
  text-align: center;
  padding-bottom: 60px;
}
.FAQs h2 {
  font-size: 60px;
  margin-bottom: 60px;
}
.FAQs ul {
  list-style-type: none;
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.FAQs ul li {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.08);
  margin-bottom: 22px;
  text-align: start;
  position: relative;
  transition: all 0.2s ease-out;
}
.FAQs ul li.expand .question::after {
  transition: all 0.4s ease-out;
  transform: scaleX(1);
  background-color: #f3efef;
}
.FAQs ul li.expand .answer {
  animation: expanding 1s ease forwards 0ms;
}
.FAQs ul li.expand .arrow-icon {
  transform: rotate(0) !important;
}
.FAQs ul li .question {
  font-weight: 500;
  font-size: 17px;
  position: relative;
  cursor: pointer;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FAQs ul li .question::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 22px;
  width: calc(100% - 44px);
  height: 2px;
  background-color: #ff375e;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.2s ease-out;
}
.FAQs ul li .question .arrow-icon {
  transform: rotate(-90deg);
  transition: all 0.2s ease-out;
}
.FAQs ul li .answer {
  color: #8e9aa0;
  line-height: 28px;
  height: auto;
  opacity: 0;
  padding: 0 22px;
  transform: translateY(5px);
  max-height: 0;
  transition: max-height 10s ease 0ms;
}

@keyframes expanding {
  100% {
    max-height: 500px;
    padding-bottom: 20px;
    opacity: 1;
    transform: translateY(0);
  }
}
.stc-footer-component > * {
  max-width: 1200px;
  width: 100%;
  margin: auto !important;
}

@media screen and (max-width: 1070px) {
  .hero .phone-img {
    width: 340px;
  }

  .main-container {
    padding: 30px;
  }

  .what-is-maraphone {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 980px) {
  .hero {
    padding: 130px 0;
  }
  .hero .phone-img {
    width: 270px;
  }

  .what-is-maraphone {
    margin-top: -150px;
  }
}
@media screen and (max-width: 800px) {
  h5 {
    font-size: 17px;
  }

  .hero {
    padding-top: 70px;
  }
  .hero .main-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero .content {
    padding-top: 20px;
    text-align: center;
  }
  .hero .content h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .hero .content p {
    margin: 0 auto 30px;
  }
  .hero .phone-img {
    width: 240px;
  }

  .what-is-maraphone h2 {
    margin-bottom: 0;
    font-size: 24px;
  }
  .what-is-maraphone .flex.justify-between {
    flex-direction: column;
    align-items: center;
    padding-top: 0 !important;
  }
  .what-is-maraphone .flex.justify-between .card {
    padding-top: 40px;
    width: 100%;
  }
  .what-is-maraphone .flex.justify-between .card .title {
    font-size: 19px;
  }

  .features .feature {
    flex-direction: column !important;
    align-items: center;
  }
  .features .feature .content {
    width: 100%;
    text-align: center;
  }
  .features .feature .content .title {
    margin-bottom: 14px;
  }
  .features .feature img {
    max-width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .main-container {
    padding: 20px;
  }

  .hero .content h1 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .hero .content p {
    max-width: 100%;
    font-size: 17px;
    color: #f3efef;
  }

  .what-is-maraphone {
    margin-top: -110px;
  }

  .features .feature {
    flex-direction: column !important;
    align-items: center;
  }
  .features .feature .content {
    width: 100%;
    text-align: center;
    padding: 20px 10px 0;
  }
  .features .feature .content .title {
    margin-bottom: 14px;
  }
  .features .feature img {
    max-width: 70%;
  }
}
@media screen and (max-width: 420px) {
  .download-app-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .download-app-btns a {
    width: 48%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .download-app-btns a img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
